.container{
    position: absolute;
    background-color: lightsteelblue;
    
    text-align: center;
    width:960px;
}

.password_container {
    
    background-color: white;
    text-align: left;
    padding: 20px;
    align-self: center;
}

#password-screen {

    width: 500px;
    height: 100px;
    text-align: center;

}

.generate{
    background-color: crimson;
   
}

